.body__records {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "head head"
        "main__records main__records"
        "foot foot";
}

.main__records {
    grid-area: main__records;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.records__article{
    animation-name: presentacion;
    animation-duration: 5s;
}
