.body__wizard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr auto 0.5fr;
    grid-template-areas:
        "head head"
        "main__wizard main__wizard"
        "foot foot";
}

.main__wizard {
    grid-area: main__wizard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wizardlogo {
    height: 50%;
    width: 50%;
    filter: drop-shadow(0 -5px 5px #0892d0);
}


/* --------------------------------------media queries----------------------------------- */

@media screen and (max-width: 1210px) {
    .wizard__section-content {
        width: 100%;
        padding: 0 1rem;
    }
}
