/* --------------------------root y generales--------------------- */
/* color-primary: #598b7c
button-succes: #acba8a
button-danger: #da6a5c */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Dosis:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondazoo.png);
    color: whitesmoke !important;
}

h1 {
    font-weight: normal;
    letter-spacing: 0.15cm;
}

h2 {
    font-weight: normal;
    letter-spacing: 0.1cm;
    font-size: 2rem;
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0.05cm;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    text-decoration: none;
}

a {
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: whitesmoke;
}

iframe {
    height: 300px;
    padding: 2rem 2rem;
}

/* ------------------------------------------clases transversales---------------------------------------- */

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    text-align: center;
    animation-name: presentacion;
    animation-duration: 1.5s;
}

.presentacion h2 {
    width: 60%;
    text-align: center;
}

.presentacion-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 2rem 0;
    font-size: 2rem;
}

/* ---------------------------------header y nav------------------------------- */

.header {
    grid-area: head;
    display: flex;
    padding: 2 5rem;
    background-image: linear-gradient(to right, #231319b4, #821f38c7);
    width: 100%;
    align-items: center;
    border-radius: 1rem;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    animation-name: banner;
    animation-duration: 1.5s;
}

.header__logo img {
    text-align: center;
    padding: 0 2rem;
    height: 8rem;
    width: auto;
}

.header__logo h1 {
    font-size: 5rem;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: large;
}

.header__nav-item {
    cursor: pointer;
    padding: 1rem;
    color: whitesmoke;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}

.header__nav-item:hover{
    background-color: #b4516f;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
}
/* ----------------------------------footer------------------------------------ */

.footer {
    grid-area: foot;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, #231319b4, #821f38c7);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

.footer__mapa {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
}

.footer__mapa div {
    width: 300px;
    height: 300px;
}

.footer__mapa p {
    font-size: 1.8rem;
}

.footer__rrss {
    width: 50%;
    text-align: center;
    font-size: 1.8rem;
}

.footer__rrss img {
    height: 7.5rem;
    width: 7.5rem;
    padding: 1rem;
}

/* ---------------------------------media query tranversal---------------------------- */

@media screen and (max-width: 1210px) {
    .header {
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
    }

    .header__logo {
        width: 100%;
    }

    .header__nav {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer div {
        margin: 1rem;
    }
}

@media screen and (max-width: 610px) {
    .header__logo img {
        padding: 0;
        width: auto;
    }

    .header__logo h1 {
        font-size: 2.5rem;
        width: 65%;
        text-align: center;
    }

    .header__nav {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        width: 100%;
    }

    .footer__mapa {
        width: auto;
    }

    .footer__rrss {
        width: auto;
    }

    .presentacion {
        padding: 0 1.5rem;
        width: 100%;
    }

    .presentacion h3 {
        width: 100%;
    }

    .presentacion-logo {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .presentacion-logo img,
    h1 {
        width: 50%;
    }

}

@media screen and (max-width: 400px) {
    .header__logo {
        justify-content: center;
    }

    .header__logo img {
        padding: 0;
        width: auto;
    }

    .header__logo h1 {
        font-size: 2rem;
        width: 80%;
        text-align: center;
    }

    .presentacion {
        padding: 1rem;
    }

    .presentacion-logo {
        width: 100%;
    }
}

/* ------------------------------------------------------ index------------------------------------------------------------- */

/* ------------------------------body-------------------------------- */

.body__index {
    background-image: url(../img/fondazoo.png);
}

.body__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "head head"
        "main__index main__index"
        "foot foot";
    margin: 10rem;
}

/* -------------------------------main-------------------------------- */

.main__index {
    grid-area: main__index;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    height: 100%;
    animation-name: index;
    animation-duration: 2s;

}

.main__index__section1 {
    width: 50%;
    height: 50%;
    font-size: larger;
    text-align: center;
    justify-self: center;
}

.main__index__section2{
    margin-bottom: 2rem;
}

.main__index__section2 div {
    display: flex;
    justify-content: center;
}

.main__index__section2 img{
    width: 20%;
    height: 20%;
    text-align: center;
}

/* -------------- media query index------------------- */

@media screen and (max-width: 1210px) {
    .main__index {
        padding: 3rem;
    }

    .main__index__section1 {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 610px) {
    .body__index {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr auto 1fr;
        gap: 0;
    }

    .main__index {
        padding: 1rem;
    }

    .main__index__section1 {
        width: 100%;
        padding: 0;
    }

    .main__index div {
        padding: 2rem;
    }
}

/* -------------------------------------------------kurenai records------------------------------------------------------- */

.body__records {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "head head"
        "main__records main__records"
        "foot foot";
}

.main__records {
    grid-area: main__records;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main__records__servicios {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.records__servicios {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.records__servicios-content {
    text-align: center;
    width: 60%;
    padding: 2rem 0;
}

.records__servicios-imagen img {
    height: 400px;
    width: 700px;
}

/* ---------------------------------records media queries------------------------- */

@media screen and (max-width: 900px) {
    .records__servicios-content {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .records__servicios-imagen img {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .records__servicios-imagen img {
        height: 200px;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .records__servicios-imagen img {
        height: 150px;
        width: 260px;
    }
}

/* -------------------------------------------------kurenai tattoo--------------------------------------------------------- */

.body__tattoo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "head head"
        "aside__tattoo main__tattoo"
        "foot foot";
    grid-gap: 0.2rem ;
    justify-items: center;
}

/* ----------------------------aside tattoo--------------------------- */
.aside__tattoo {
    grid-area: aside__tattoo;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: linear-gradient(to top, #821f386e, #2313197e);
    justify-content: flex-start;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    animation-name: asidetattoo;
    animation-duration: 1.5s;
}

.scroll__tattoo {
    display: flex;
    flex-direction: column;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.aside__tattoo-links {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
}

.aside__tattoo-avatar {
    display: flex;
    justify-content: center;
}

.aside__tattoo-avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid 1px black;
}

.aside__tattoo div {
    width: 100%;
}

.aside__tattoo h2 {
    text-align: center;
}

.aside__tattoo div h3 {
    padding: 1rem;
    text-align: center;
}

.aside__tattoo div a {
    text-decoration: none;
}

/* ------------------------------------------main tattoo----------------------------------- */

.main__tattoo {
    background-image: url(../img/fondazoo.png);
    grid-area: main__tattoo;
    display: flex;
    flex-direction: column;
    animation-name: maintattoo;
    animation-duration: 1.5s;
}

.main__tattoo-title {
    text-align: center;
}

.main__tattoo-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.main__tattoo-galeria img {
    height: 300px;
    width: 100%;
}

.main__tattoo-galeria img:hover{
    transition: all .3s ease-in-out;;
    filter: saturate(180%);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    border: solid 1px black;
}

/* --------------------- media query tattoo----------------- */
@media screen and (max-width: 1210px) {
    .presentacion {
        width: 80%;
    }

    .presentacion-logo {
        width: 90%;
    }
}

@media screen and (max-width: 610px) {
    .body__tattoo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr auto auto 0.5fr;
        grid-template-areas:
            "head"
            "aside__tattoo"
            "main__tattoo"
            "foot";
    }

    .aside__tattoo {
        display: flex;
        font-size: smaller;
        height: auto;
        justify-content: center;
    }

    .aside__tattoo h2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .aside__tattoo-avatar img {
        height: 80px;
        width: 80px;
        border-radius: 20px;
        border: solid 1px black;
    }

    .presentacion {
        width: 100%;
    }

    .presentacion h3 {
        width: 100%;
    }

    .presentacion-logo {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .presentacion-logo img,
    h1 {
        width: 50%;
    }

    .main__tattoo-title {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}


/* --------------------------------------- kurenai wizard ---------------------------------------- */
.body__wizard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr auto 1fr;
    grid-template-areas:
        "head head"
        "main__wizard main__wizard"
        "foot foot";
}

.main__wizard {
    grid-area: main__wizard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wizardlogo{
    height: 50%;
    width: 50%;
}

.wizard__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wizard__section-content {
    text-align: center;
    width: 70%;
    padding: 2rem;
}

.wizard__section-content h2,
h3 {
    padding: 1.5rem;
}

.wizard__section-content h3 {
    font-size: 2.5rem;
}

.wizard__section-content p {
    font-size: 1.5rem;
}


/* ---------------------------------------media queries wizard----------------------------------- */

@media screen and (max-width: 1210px) {
    .wizard__section-content {
        width: 100%;
        padding: 0 1rem;
    }
}

/* -------------------------------------------------------------------contacto------------------------------------------------------ */

.body__contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr auto 1fr;
    grid-template-areas:
        "head head"
        "contacto contacto"
        "foot foot";
}

.main__contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.contacto__acercade {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    width: 50%;
}

.contacto__container__formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contacto__container__formulario h2{
    padding-bottom: 2rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #821f38c7, #231319b4);
    padding: 3rem 0;
    justify-content: center;
    text-align: center;
}

/* --------------------------------------media queries---------------------------- */

@media screen and (max-width: 1210px) {
    .contacto__acercade {
        width: 100%;
    }


}

@media screen and (max-width: 800px) {
    .contacto__container__formulario {
        width: 80%;
    }
    .main__contacto {
        justify-content: flex-start;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 400px) {
    .contacto__formulario textarea {
        width: 80%;
    }
}


/* -----------------------------------keyframes--------------------------- */

@keyframes banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes presentacion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes asidetattoo {
    from { transform : translateY(-5rem) }
    to   { transform : translateY(0) } 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes maintattoo {
    from { transform : translatex(5rem) }
    to   { transform : translatex(0) }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes index {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}




