@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Dosis:wght@200&display=swap");
.header {
  grid-area: head;
  display: flex;
  padding: 2 5rem;
  background-image: linear-gradient(to right, #231319b4, #821f38c7);
  width: 100%;
  align-items: center;
  border-radius: 1rem; }
  .header .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    animation-name: banner;
    animation-duration: 1.5s; }
    .header .header__logo a {
      display: flex;
      align-items: center;
      text-decoration: none; }
      .header .header__logo a img {
        text-align: center;
        padding: 0 2rem;
        height: 8rem;
        width: auto; }
      .header .header__logo a h1 {
        font-size: 4rem; }

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: large; }
  .header__nav ul {
    text-align: center; }
    .header__nav ul li {
      display: inline; }
      .header__nav ul li a {
        text-decoration: none;
        font-family: 'Dosis', sans-serif;
        font-size: 2rem;
        padding: 1rem; }
        .header__nav ul li a:hover {
          background-color: #b4516f;
          border-radius: 1rem;
          transition: 0.5s ease-in-out;
          color: whitesmoke; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: whitesmoke; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondazoo.png); }

h1 {
  font-weight: normal;
  letter-spacing: 0.15cm; }

h2 {
  font-weight: normal;
  letter-spacing: 0.1cm;
  font-size: 2rem; }

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.05cm; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05cm; }

a:visited {
  color: whitesmoke; }

iframe {
  height: 300px;
  padding: 2rem 2rem; }

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 60%;
  text-align: center;
  animation-name: presentacion;
  animation-duration: 1.5s; }
  .presentacion h2 {
    width: 60%;
    text-align: center; }

.presentacion-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: 2rem 0;
  font-size: 2rem; }

.form-control {
  color: whitesmoke !important; }

.form-select {
  color: whitesmoke !important; }

.form-text {
  color: whitesmoke !important; }

.red--whatsapp:hover {
  background: #02a802;
  opacity: 80%; }

.red--facebook:hover {
  background: #2956a3;
  opacity: 80%; }

.red--instagram:hover {
  background: #9900b8;
  opacity: 80%; }

.red--youtube:hover {
  background: #ce1312;
  opacity: 80%; }

.boton, .boton--aceptar, .boton--reiniciar {
  background-color: #821f38c7;
  width: 10rem;
  height: 5rem;
  color: whitesmoke;
  font-size: 2rem;
  border: none;
  border-radius: 1rem; }
  .boton:hover, .boton--aceptar:hover, .boton--reiniciar:hover {
    filter: saturate(180%); }

.boton--aceptar:hover {
  background-color: #02a802de; }

.boton--reiniciar:hover {
  background-color: #ce1212e3; }

/* --------------------------------------media queries----------------------------------- */
@media screen and (max-width: 1210px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    justify-content: center; }
    .header .header__logo {
      width: 100%; }
      .header .header__logo h1 {
        width: 100%; }
    .header .header__nav {
      width: 100%;
      justify-content: space-evenly; }
  .footer div {
    margin: 1rem; } }

@media screen and (max-width: 610px) {
  .header__logo img {
    padding: 0;
    width: auto; }
  .header__logo h1 {
    font-size: 1.5rem;
    width: 65%;
    text-align: center; }
  .header__nav {
    flex-direction: column; }
    .header__nav ul li {
      display: block;
      text-align: center; }
  .footer {
    flex-direction: column;
    width: 100%; }
    .footer .footer__rrss {
      width: auto; }
  .presentacion {
    padding: 0 1.5rem;
    width: 100%; }
    .presentacion h3 {
      width: 100%; }
  .presentacion-logo {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }
    .presentacion-logo img {
      width: 50%; }
    .presentacion-logo h1 {
      width: 50%; } }

@media screen and (max-width: 400px) {
  .header__logo {
    justify-content: center; }
    .header__logo a img {
      padding: 0;
      width: auto; }
    .header__logo a h1 {
      font-size: 2rem;
      width: 80%;
      text-align: center; }
  .presentacion {
    padding: 1rem; }
  .presentacion-logo {
    width: 100%; } }

.footer {
  grid-area: foot;
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, #231319b4, #821f38c7);
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem; }
  .footer .footer__rrss {
    width: 50%;
    text-align: center;
    font-size: 1.8rem; }

.body__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "head head" "main__index main__index" "foot foot"; }

.main__index {
  grid-area: main__index;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  animation-name: index;
  animation-duration: 2s;
  height: 82.1rem; }

.main__index__section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: larger; }
  .main__index__section div {
    width: 50%;
    text-align: center; }
  .main__index__section img {
    width: 300px;
    filter: drop-shadow(-5px 10px 5px rgba(255, 0, 0, 0.774)); }

.body__records {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "head head" "main__records main__records" "foot foot"; }

.main__records {
  grid-area: main__records;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.records__article {
  animation-name: presentacion;
  animation-duration: 5s; }

.body__tattoo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "head head" "aside__tattoo main__tattoo" "foot foot";
  grid-gap: 0.2rem;
  justify-items: center; }

.aside__tattoo {
  grid-area: aside__tattoo;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(to top, #821f386e, #2313197e);
  justify-content: flex-start;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  animation-name: asidetattoo;
  animation-duration: 1.5s;
  text-align: center; }
  .aside__tattoo a {
    color: #b4516f; }
  .aside__tattoo h3 {
    color: #b4516f; }
  .aside__tattoo:hover {
    background-color: #b4516f;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    color: whitesmoke; }
    .aside__tattoo:hover h3 {
      color: whitesmoke;
      transition: 0.5s ease-in-out; }
    .aside__tattoo:hover a {
      color: whitesmoke;
      transition: 0.5s ease-in-out; }

.scroll__tattoo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.aside__tattoo-avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: solid 1px black;
  margin: 1rem 0; }

.aside__tattoo div {
  width: 100%; }
  .aside__tattoo div h3 {
    padding: 1rem; }

.aside__tattoo h2 {
  text-align: center; }

.aside__tattoo a {
  text-decoration: none; }

.dropdown__button {
  display: none; }

.tatuadores__dropdown {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center; }

.dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.tatuadores-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  border-bottom: solid #b4516f 2px;
  margin-bottom: 1rem; }
  .tatuadores-title:hover {
    animation-name: fill;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .tatuadores-title a {
    text-decoration: none; }
    .tatuadores-title a:hover {
      background-color: #b4516f;
      border-radius: 1rem;
      transition: 0.5s ease-in-out; }

.main__tattoo {
  background-image: url(../img/fondazoo.png);
  grid-area: main__tattoo;
  display: flex;
  flex-direction: column;
  animation-name: maintattoo;
  animation-duration: 1.5s; }

.main__tattoo-title {
  text-align: center;
  margin: 2rem; }

.main__tattoo-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem; }
  .main__tattoo-galeria img {
    height: 300px;
    width: 100%; }
    .main__tattoo-galeria img:hover {
      transition: all .3s ease-in-out;
      filter: saturate(180%);
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
      border: solid 1px black; }

.body__wizard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr auto 0.5fr;
  grid-template-areas: "head head" "main__wizard main__wizard" "foot foot"; }

.main__wizard {
  grid-area: main__wizard;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wizardlogo {
  height: 50%;
  width: 50%;
  filter: drop-shadow(0 -5px 5px #0892d0); }

.body__contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr auto 0.5fr;
  grid-template-areas: "head head" "contacto contacto" "foot foot"; }

.main__contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0; }

.contacto__container__formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.contacto__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #821f38c7, #231319b4);
  padding: 3rem 5rem;
  justify-content: center;
  text-align: center;
  width: 90%; }

.contacto__map {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 1rem; }
  .contacto__map p {
    font-size: 1.5rem;
    margin-top: 5rem;
    letter-spacing: 0.5rem; }

/* --------------------------------------media queries----------------------------------- */
@media screen and (max-width: 1210px) {
  .main__index {
    padding: 3rem;
    justify-content: center;
    height: auto; }
  .main__index__section {
    flex-direction: column;
    width: 100%;
    padding: 2rem; }
  .main__index__section div {
    width: 80%; }
  .presentacion {
    width: 80%; }
  .presentacion-logo {
    width: 90%; }
  .wizard__section-content {
    width: 100%;
    padding: 0 1rem; }
  .contacto__acercade {
    width: 100%; } }

@media screen and (max-width: 800px) {
  .contacto__container__formulario {
    width: 80%; }
  .main__contacto {
    justify-content: flex-start;
    padding: 1rem 0; } }

@media screen and (max-width: 610px) {
  .body__index {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr auto 1fr;
    gap: 0; }
  .main__index {
    padding: 1rem; }
    .main__index div {
      padding: 2rem; }
  .main__index__section {
    width: 100%;
    padding: 0; }
    .main__index__section img {
      width: 50%;
      height: 50%; }
  .body__tattoo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto 0.5fr;
    grid-template-areas: "head" "aside__tattoo" "main__tattoo" "foot"; }
  .aside__tattoo {
    display: flex;
    font-size: smaller;
    height: auto;
    justify-content: center; }
    .aside__tattoo h2 {
      display: flex;
      justify-content: center;
      width: 100%; }
  .aside__tattoo-avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid 1px black; }
  .tatuador-title {
    display: none; }
  .tatuadores-title {
    width: 80%; }
    .tatuadores-title h3 {
      font-size: large; }
  .main__tattoo-galeria {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
  .presentacion {
    width: 100%; }
    .presentacion h3 {
      width: 100%; }
  .presentacion-logo {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }
    .presentacion-logo h2 {
      width: 50%; }
    .presentacion-logo img {
      width: 50%; }
  .main__tattoo-title {
    display: flex;
    justify-content: center;
    width: 100%; }
  .dropdown__button {
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: larger;
    letter-spacing: 0.1cm;
    text-align: center; }
    .dropdown__button:hover {
      background-color: crimson;
      border-radius: 1rem;
      transition: 0.5s ease-in-out; }
  .dropdown-list {
    display: none;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to top, #821f38ef, #231319ec);
    border-radius: 1rem;
    animation-name: dropdown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: larger;
    text-decoration: none; }
    .dropdown-list a {
      display: block; }
      .dropdown-list a:hover {
        background-color: crimson;
        transition: 0.5s ease-in-out;
        border-radius: 1rem;
        color: whitesmoke; }
    .dropdown-list h2 {
      display: none; }
  .tatuadores__dropdown:hover .dropdown-list {
    display: flex;
    align-items: center;
    width: 35rem;
    transition: 0.5s ease-in-out;
    border-radius: 1rem; }
  .tatuadores__dropdown:hover .dropdown__button {
    background-color: #7a0422c7;
    transition: 0.5s ease-in-out;
    border-radius: 1rem; }
  .contacto__container__formulario h2 {
    width: 100%; } }

@keyframes banner {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes presentacion {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes asidetattoo {
  from {
    transform: translateY(-5rem); }
  to {
    transform: translateY(0); }
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes dropdown {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; }
  from {
    transform: translatey(0); }
  to {
    transform: translatey(20rem); } }

@keyframes maintattoo {
  from {
    transform: translatex(5rem); }
  to {
    transform: translatex(0); }
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes index {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes fill {
  0% {
    border-color: #b4516f; }
  100% {
    border-color: whitesmoke; } }
